.vscode

docker-private
volumes/traefik-certificates/acme.json
volumes/mariadb
volumes-private

cluster-config.yaml
helm/values-global.yaml
helm/private-charts



k8s/manifests/configmaps/traefik-config.yaml
