apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: dev-cluster

servers: 1
agents: 1
ports:
  - port: 80:80
    nodeFilters:
      - loadbalancer
  - port: 443:443
    nodeFilters:
      - loadbalancer
volumes:
  - volume: /FULL_PATH_TO_VOLUMES:/mnt/volumes
    nodeFilters:
      - all
  - volume: /FULL_PATH_TO_PRIVATE_VOLUMES:/mnt/volumes-private
    nodeFilters:
      - all
options:
  k3s:
    extraArgs:
      - arg: "--disable=traefik"  # disable traefik ; we will use custom ingress
        nodeFilters:
          - server:0
